.App {
  text-align: center;
  margin: 20px auto;
  max-width: 700px;
  color: #333;
}

.book-list {
  margin: 0 20px;
}

.book-list ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.book-list li {
  background: #f0f0f0;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.book-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}

.remove-btn {
  display: none;
}

.book-list li:hover .remove-btn {
  display: block;
}

.book-list .title {
  font-weight: bold;
  color: #333;
  font-size: 20px;
}

.book-list .author {
  font-size: 0.9em;
  color: #666; /* Medium gray */
}

.empty {
  padding: 20px;
  text-align: center;
}

form {
  padding: 20px;
  color: #333; /* Dark gray */
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #eaeaea; /* Lighter gray */
  color: #333; /* Dark gray */
  /* border: 0; */
  border-radius: 8px;
  color: #333; /* Dark gray */
  font-weight: 500;
}
input[type="submit"] {
  margin: 10px auto;
  background: #d8d8d8; /* Light gray */
  border: 0;
  padding: 6px 20px;
  display: block;
  border-radius: 8px;
  cursor: pointer;
  color: #333; /* Dark gray */
}
